h1, h2, h3 {
  font-family: 'Prata', serif;
  }

p {
  font-family: 'Inter', Arial, san-serif;
}

span.category {
  color: var(--pink-color);
  font-family: 'Inter', Arial, san-serif;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
}

:root {
--main-text-color: #252b2d;
--pink-color: #ff7575;
--blue-color: #0b4e58;
--dark-blue-color: #083c44;
--font-main: "Inter";
}

body {
  background-color: #f5f5f5;
  font-family: var(--font-main), Arial, san-serif !important;
}

a {
  color: var(--pink-color) !important;
  font-size: 18px !important;
  font-family: var(--font-main), Arial, san-serif;
  font-weight: 700 !important;
  
}

.container-1600 {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

.container-1200 {
  max-width: 1200px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 15px;
}

.container-1000 {
  max-width: 1000px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 15px;
}

.mxw-580 {
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
}

.pt-6 {
  margin-top: 6rem;
}

.outline-pink {
  border: 3px solid var(--pink-color);
}

.header-section {
  background-color: var(--blue-color);
  width: 100%;
  height: auto;
  animation: header-bg 9s ease infinite;
  position: relative;
  z-index: 1;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);
}

.header-section--image {
  background-image: url("images/header-bg-deco-xs.png");
  background-repeat: no-repeat;
  background-position: center -50px !important;
  width: 100%;
  height: 422px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.header-section--imgFoliage {
  background-image: url("images/header-img-foliage.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  display: none;
  width: 100%;
  height: 695px;
  position: absolute;
  margin: 0 auto;
  z-index: 3;
  bottom: 0;
  
}

@keyframes foliage-move {
  0% {opacity: 0; bottom:0; right: -40px;}
  100% {opacity: 1; bottom:0; right: 0;}
}

.navigation {
  text-align: right;
  padding-top: 3rem;
}

.navigation-link {
  color: #f5f5f5 !important;
  font-size: 21px;
  font-family: var(--font-main), Arial, san-serif;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  z-index: 5;
  transition: all .3s ease-in;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: .9rem;
  width: 100%;
}

.navigation-link:hover {
  color: var(--pink-color);
  background-color: var(--dark-blue-color);
  text-decoration: none;
  transition: all .3s ease-in;
}
.logo-container {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 2rem 0;
}

.header-section--text {
  position: relative;
  z-index: 5;
  margin-top: 10rem;
  margin-bottom: 3rem;
}

h1.logo-header {
  color: #fff;
  background-color: var(--pink-color);
  font-family: 'Quicksand', Arial, san-serif;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-left: .4rem;
  font-size: 21px;
  padding: .7rem .5rem .74rem;
}

h2.header {
  color: #f5f5f5;
  font-size: 36px;
  line-height: 1.2;
}

@keyframes header-bg {
  0% {background-color: var(--blue-color);}
  50% {background-color: #0f3f5a;}
  100% {background-color: var(--blue-color);}
}

.resume-download-btn {
  padding: .6rem 1.8rem;
  background-color: #141010;
  border-radius: 30px;
  display: inline-flex;
  color: #fff !important;
  font-family: var(--font-main), Arial, san-serif;
  font-size: 22px !important;
  font-weight: 300 !important;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 3;
  transition: all .3s ease-in;
  margin: 0 auto 7rem;
  box-shadow: 0 0 40px 40px #141010 inset, 0 0 0 0 #141010;
}

.resume-download-btn:hover {
  transition: all .3s ease-in;
  color: #fff;
  box-shadow: 0 0 4px 0 #5e3a3b inset, 0 0 5px 2px #4ac6be;
  position: relative;
}

/* Section Services About */

.container-service {
  position: relative;
  overflow: hidden;
  z-index: 0;
  padding: 1rem 15px 7rem;
}

.services-section--container {
  width: 100%;
}

.service-title {
  color: var(--main-text-color);
  font-size: 32pt;
  text-align: center;
  padding-top: 6rem;
  line-height: 1.2;
}

.sunburst-icon {
  position: absolute;
  display: block;
  width: 488px;
  height: 488px;
  margin: auto;
  top: 180px;
}

.dots-circle-00 {
  background-image: url("images/dots-circle-00.png");
  animation-name: spin-icon;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  z-index: -1;
  opacity: .6;
}

.rays-00 {
  background-image: url("images/rays-alt-00.png");
  animation-name: spin-icon;
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  z-index: -1;
  opacity: .6;
}

.rays-01 {
  background-image: url("images/rays-alt-01.png");
  animation-name: spin-icon-rfade;
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  z-index: -1;
}

@keyframes spin-icon {
0% {transform:rotate(0deg);}
100% {transform:rotate(360deg);}
}

@keyframes spin-icon-r {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(-360deg);}
  }

  @keyframes spin-icon-rfade {
    0% {transform:rotate(0deg); opacity: 1;}
    10% {opacity: .2;}
    20% {opacity: 1;}
    30% {opacity: .2;}
    40% {opacity: 1;}
    50% {opacity: .2;}
    60% {opacity: 1;}
    70% {opacity: .2;}
    80% {opacity: 1;}
    90% {opacity: .2;}
    100% {transform:rotate(-360deg); opacity: 1;}
    }

.service-section--box {
  display:block;
  position: relative;
  background-color: #fff;
  width: 100%;
  max-width: 600px;
  padding: 1.8rem 1rem;
  border-radius: 12px;
  border: 2px solid #e4c0c0;
  box-shadow: 0px 3px 20px -2px rgba(253, 156, 156, .75);
  height: 600px;
  margin: 1rem auto;
}

.service-box--title {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.1;
  display: flex;
  justify-content: center;
  font-family: var(--font-main);
  height: 5rem;
  display: flex;
  align-items: center;
}

.service-icon {
  width: 100%;
  height: 160px;
  position: relative;
  background-color:#419995;
  display: block;
}

.pink-foliage-img {
  background-image: url("images/pink-foliage-xs.png");
  height: 663px;
  background-position: left center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: -60px;
  z-index: 4;
  width: 100%;
  display: block;
}

@keyframes spinning {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);} 
}

.services-about--section {
  margin: 10rem 0 8rem;
  display: block;
  position: relative;
  z-index: 4;
}

.picture-profile {
  display: block;
  width: 100%;
  height: 560px;
  margin: 0 auto 1.5rem;
  overflow: hidden;
  background-color: red;
  position: relative;
  z-index: 5;
  background-image: url("images/portfolio-pic.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.services-about--title {
  font-size: 50px;
  font-family: 'Prata', Arial, serif;
  line-height: 1.2;
}

/* PORTFOLIO */

.portfolio {
  background-image: url("images/bg-portfolio.png");
  background-attachment: fixed;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.portfolio--box {
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 10px 10px rgba( 4, 36, 40, .7);
}

h2.portfolio--title {
  color: #f5f5f5;
  font-size: 56px;
  margin: .4rem 0 1.2rem;
}

p.portfolio--text {
  color: #f5f5f5;
  font-size: 21px;
}

.sticky-top {
  top: 3rem !important;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.divide-line {
  width: 100%;
  height: 1px;
  background-color: #419995;
  display: block;
  margin-bottom: .5rem;
}

.sample-title {
  font-size: 17px;
  text-transform: uppercase;
  color: var(--pink-color);
  font-weight: bold;
}

.example-box {
  padding: 25px 1px 25px;
}

.sample-text {
  font-size: 24px;
}

.list-group {
  --bs-list-group-item-padding-x: 1px !important;
  
}

.list-group-item {
  display: none !important;
}

.list-group-item.active {
  background-color: transparent !important;
  border: 0 !important;
  pointer-events: none;
  color: #f5f5f5 !important;
  font-weight: 300 !important;
}

/* REVIEWS */

.section-reviews {
  background-color: var(--pink-color);
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow: hdden;
}

.padding-reviews-container {
  padding: 7rem 15px;
}

#reviews-p {
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  position: relative;
  z-index: 2;
  opacity: 0;
}

.quote-png {
  background-image: url("images/quote-02.png");
  background-position: center;
  width: 360px;
  height: 230px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-size: 65%;
}

.fade-in-review {
  opacity: 1 !important;
  transition: all .9s ease-in;
}

.divider-line {
  width: 200px;
  height: 2px;
  background-color: #f15959;
  margin: 1rem auto;
  display: block;
}

/* CONTACT ME SECTION */

.section-contact--box {
  background-color: var(--blue-color);
  padding: 1rem;
  color: #f5f5f5;
  font-size: 18px !important;
}

.section-contact--rate {
  background-color: var(--dark-blue-color);
  font-size: 24px;
  padding: .4rem;
}

.section-contact--end {
  color: var(--pink-color);
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
}

.section-contact--title {
  font-size: 60px;
  padding-bottom: .5rem;
}


/*IMAGES FOR PORTFOLIO */

.website--bello-burgos {
  background-image: url("images/website-bello-burgos.jpg");
}

.website--autobody {
  background-image: url("images/website-autobody.jpg");
}

.website--idahofalls {
  background-image: url("images/website-idaho-falls.jpg");
}

.website--pal {
  background-image: url("images/website-pal.jpg");
}




/* Very Small */
@media (min-width: 410px) {
  h1.logo-header {
    font-size: 30px;
    padding: .32rem .4rem .46rem;
  }
  .service-section--box {
    height: 500px;
  }
  .section-reviews--box {
    min-height: 550px;
  }

}

/* Mobile */
@media (min-width: 576px) {
  h2.header {
    font-size: 60px;
    line-height: 1;
  }
  .navigation {
    padding-top: 2rem;
    display: flex;
    justify-content: end;
    text-align: right;
  }
  .navigation-link {
    padding: .3rem .4rem .3rem 1.2rem;
    width: auto;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
  }
  .header-section--image {
    display: none !important;
  }
  .header-section--imgFoliage {
    display: block;
    width: 200%;
    opacity: .4;
    right: -200px;
  }
  .header-section--text {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .service-title {
    font-size: 40pt;
  }
  .pink-foliage-img {
    left: -10px;
  }
  .picture-profile {
    max-width: 580px;
  }
  .section-reviews--box {
    min-height: 460px;

  }
  .section-reviews--boxi {
    font-size: 28px;
  }
}

/* Smaller */
@media (min-width: 768px) {
  h2.header {
    font-size: 80px;
  }
  .resume-download-btn {
    margin: 0 0 7rem 5rem;
  }
  .header-section--image {
    background-position: center top;
    background-image: url("images/header-bg-deco.png");
    background-position: center -170px;
    height: 960px;
    z-index: 2;
    display: block !important;
  }
  .header-section--imgFoliage {
    display: block;
    width: 1200px;
    opacity: 1;
  }
  .pink-foliage-img {
    background-image: url("images/pink-foliage.png");
    /*background-image: url("images/pink-leaves-bg-lg-green.png"); */
    height: 1064px;
    left: -120px;
  }
  .container-service {
    padding: 6rem 15px;
    margin-top: -3.6rem;
  }
  .services-about--section {
    margin: 6rem 0 6rem;
  }
  .service-title {
  font-size: 55pt;
  text-align: right;
  padding-top: 6rem;
  }
  .sunburst-icon {
    position: absolute;
    display: block;
    width: 488px;
    height: 488px;
    left: 0;
    top: -10px;
  }
  .service-section--box {
    max-width: 600px;
    margin: 1rem auto;
    border: 0;
    padding: 2rem;
  }
  .header-section--text {
    margin-top: 12rem;
    margin-bottom: 6rem;
  }
  .services-about--section {
    margin: 12rem 0 6rem;
    display: flex;
  }
  .picture-profile {
    margin: 0 20px 0 20px;
    min-width: 380px;
  }
  .section-reviews--box {
    min-height: 380px;
  }
  .portfolio {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  h2.portfolio--title {
    font-size: 60px;
  }
  .example-box {
    padding: 1px 1px 200px;
  }
  .list-group-item.active {
    display: block !important;
  }
  #reviews-p {
    font-size: 32px;
    line-height: 1.5;
  }
}

@media (min-width: 992px) {
  .header-section--imgFoliage {
    width: 1300px;
    right: -40px;
    opacity: 0;
    animation-name: foliage-move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: .1s;
  }
  h2.header {
    font-size: 100px;
  }
  .resume-download-btn {
    margin: 0 0 8rem 5rem;
  }
  .services-section--container {
    max-width: 780px;
    padding-right: 4rem;
  }
  .service-section--box {
    max-width: 364px;
    height: 550px;
    margin: .1rem .2rem;
    border: 2px solid #e4c0c0;
    box-shadow: 0px 3px 20px -2px rgba(253, 156, 156, .75);
  }
  .services-about--title {
    font-size: 60px;
  }
  #services-about {
    height: calc( 1064px - 60px);
  }
  .pink-foliage-img {
    left: 0;
  }
  .section-reviews--box {
    min-height: 340px;
  }
  .sticky-top {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .header-section--imgFoliage {
    width: 100%;
  }
  .section-reviews--box {
    min-height: 300px;
  }
  h2.portfolio--title {
    font-size: 70px;
  }
}
